* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 100vh;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img {
  height: 80px;
  padding-left: 30px;
}
.navbar-nav .mr-auto li {
  padding: 0 10px;
}
.navbar-nav .mr-auto li a {
  float: right;
}
#nav-bar ul li a:hover {
  color: #007bff !important;
}
.navbar {
  background: #fff;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}
#btn {
  color: rgb(83, 83, 83);
  border-color: rgb(83, 83, 83);
}
#btn:hover {
  background-color: #51a5ff;
  color: white;
}

/*** Form**/
#form {
  display: inline-block;
  position : relative;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgb(219, 218, 218) 5px 20px 20px;
  border: 3px rgb(163, 162, 162);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  width: 50%;
  bottom : 8vh;
}
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#slider {
  width: 100%;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}
.about-content {
  padding-top: 20px;
}

#intro {
  background-position: center;
  color: black;
  font-family: monospace monaco;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

#intro h1 {
  text-align: center;
  color: dimgrey;
  padding-bottom: 10px;
}

#intro h1::after {
  content: "";
  background: dimgrey;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
#intro p {
  margin-top: 20px;
  color: black;
}

#img {
  text-align: center;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog {
  background-position: center;
  color: black !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
#blog h1 {
  text-align: center;
  color: rgb(78, 78, 78);
  padding-bottom: 10px;
}
#blog h1::after {
  content: "";
  background: rgb(88, 88, 88);
  display: block;
  height: 3px;
  width: 8em;
  margin: 20px auto 5px;
}
#blog h3 {
  font-size: 1em;
  text-align: center;
  color: dimgrey;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

#blog p {
  background-position: center;
  color: black;
  font-family: monospace monaco;
  font-size: 16px;
}
.blog {
  padding-top: 1em;
  padding-bottom: 1em;
}
#main {
  padding-bottom: 2.5rem;
}

#footer {
  color: white;
  background: #263a52;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 3.5rem;
  left: 0;
  right: 0;

}

/**** Explore ***/

#module1 #collapseExample.collapse:not(.show) {
  display: block;
  height: 5rem;
  overflow: hidden;
}

#module1 #collapseExample.collapsing {
  height: 3rem;
}

#module2 #collapseExample2.collapse:not(.show) {
  display: block;
  height: 5rem;
  overflow: hidden;
}

#module2 #collapseExample2.collapsing {
  height: 3rem;
}

#blog div {
  text-align: left;
}

.list {
  color: black;
  text-align: left;
  margin-left: 2em;
}

.list li {
  font-size: 1em;
  padding-top: 1em;
  font-weight: bold;
}

.container1 {
  margin: 2em;
}
.container2 {
  border-radius: 15px;
  box-shadow: rgb(219, 218, 218) 5px 20px 20px;
  padding: 1em;
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

b {
  color: cornflowerblue;
}
small {
  font-size: 0.9em;
  font-style: italic;
}
i {
  color: rgb(255, 0, 0);
}

h2 {
  font-size: 3em;
  color: rgb(88, 88, 88);
}

#use-case > div {
  margin-bottom: 30px;
}

/*** SEARCH ***/

body{
  margin: 0; 
  padding: 0;
  background: #ebebeb;
}
.box{
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%,-50%);
}
.input {
  padding: 10px;
  width: 40px;
  height: 40px;
  background: rgb(241, 241, 241);
  border: 1px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 20px;
  color: #050504;
  outline: none;
  transition: .5s;
}
.box:hover input{
  width: 250px;
  background: #faf5f5;
  border-radius: 10px;
}
i{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(20%,-50%);
  font-size: 15px;
  color: #000000;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}
