body{
    background-color : "#f4f4f4";
    margin-top : 5vh;
}

#title {
    position: fixed;
    top: auto;
    left:5vw;
    margin: 1%;
    padding: 1%;
    font-size:2.5em;
}


ul {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    width: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#about{
    float:right;
}